@inject NavigationManager navigationManager
@inject IConfiguration configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<App> localizer


@if (cultures != null)
{
  <form>
      <select @bind="selectedCulture">
        <option>@localizer["Select"]...</option>
        @foreach (var culture in cultures)
        {
          <option value="@culture.Key">@culture.Value</option>
        }
      </select>
      <button class="btn btn-primary" @onclick="RequestCultureChange">@localizer["Choose"]</button>
  </form>
}

@code {
  private string selectedCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
  private Dictionary<string, string>? cultures;

  protected override void OnInitialized()
  {
    cultures = configuration.GetSection("Cultures").GetChildren().ToDictionary(x => x.Key, x => x.Value);
  }

  private void RequestCultureChange()
  {
    if (string.IsNullOrWhiteSpace(selectedCulture))
    {
      return;
    }

    var uri = new Uri(navigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
    var query = $"?culture={Uri.EscapeDataString(selectedCulture)}&redirectUri={Uri.EscapeDataString(uri)}";
    navigationManager.NavigateTo("Culture/SetCulture" + query, forceLoad: true);
  }
}